package pages

import (
	"github.com/tneuqole/habitmap/internal/session"
	"github.com/tneuqole/habitmap/internal/templates/layouts"
)

templ Error404(data session.SessionData) {
	@layouts.Error(data, "Not Found", "The page you’re looking for does not exist.")
}
